config.php
header.php
footer.php

admin/.ht*
admin/cards/import/version.json

composer.lock
composer.phar
vendor/

js/lib/Flotr2/examples/*

ranking/*
stats/*
decks/*
img/avatar/*

admin/cards/import/cache/
