/config.php
header.php
footer.php

mtgas.pid
admin/cards/import/version.json
ranking/*
stats/*
decks/*
img/avatar/*

admin/cards/import/cache/
admin/.ht*
/css
log/
exts_stats/

composer.lock
composer.phar
vendor/
js/lib/Flotr2/examples/*
