div.section {
	margin: 3% ;
}
.hlhover tr:hover {
	background-color: #F4ECD2 ;
}
.updating {
	background-color: red ;
}
.warn {
	color: red ;
}
.up_down {
	list-style-type: none ;
	padding: 0 ;
	float: right ;
}
.up_down button {
	padding: 0 ;
}
