#selectors {
	position: fixed ;
	top: 1% ;
	right: 380px ;
	padding: 5px ;
	z-index: 1 ;
}
#selectors button {
	float: left ;
	height: 30px ;
}
#selectors select {
	padding-top: 4px ;
	float: left ;
	height: 30px ;
	text-align: center ;
	vertical-align: middle ;
}
#selectors option {
	text-align: left ;
}
#selectors label {
	position: relative ;
	width: 30px ;
	height: 30px ;
	background-size: 30px ;
	display: block ;
	float: left ;
}
#selectors input {
	position: absolute ;
	bottom: 0 ;
	right: 0 ;
	cursor: pointer ;
}
/* Main / side */
#div_side, #div_main {
	position: fixed ;
	width: 96% ;
	left: 2% ;
	margin: 0 ;
}
#div_side  {
	top: 2% ;
	height: 86% ;
	overflow-y: auto ;
}
#div_main {
	top: 90% ;
	min-height: 33% ;
	max-height: 75% ;
	z-index: 11 ;
	padding-bottom: 30px ;
	overflow-y: auto ;
}
#div_main.highlight {
	top: auto ;
	bottom: 0 ;
	height: auto ;
}
#div_main > div {
	position: fixed ;
	bottom: 0 ;
	left: 0 ;
	width: 100% ;
	text-align: center ;
}
#cards_number {
	font-family:verdana ;
	font-size:small ;
	font-variant: normal ;
}
/* Table inside */
#table_side, #table_main {
	border-width: 0 ;
	margin-left: auto ;
	margin-right: auto ;
}
#table_side td, #table_main td {
	vertical-align: top ; /* Otherwise, each columns is vertically centered in table */
	padding: 0 ;
	border-width: 0 ;
}
td.th {
	text-align: center ;
	font-weight: bold ;
}
/* Cards */
.card {
	cursor: pointer ;
	width: 235px ;
	height: 25px ;
	overflow: hidden ;
	border: 2px solid lime ; /* Stupid default color, replaced by class just under*/
}
.card.L {
	border-color: sienna !important ;
}
.card.C {
	border-color: black !important ;
}
.card.U {
	border-color: lightgray !important ;
}
.card.R {
	border-color: GoldenRod !important ;
}
.card.M {
	border-color: OrangeRed !important ;
}
.card.S {
	border-color: purple !important ;
}
.card img, #zoom img {
	width: 250px ;
}
.card img {
	margin-left: -8px ;
	margin-top: -10px ;
}
.card.split img { /* Rotated */
	height: 240px ;
	width: auto ;
	margin-left: 34px ;
	margin-top: -38px ;
	transform: rotate(90deg) ;
}
/* Lands */
.hider {
	z-index: 14 ;
}
#basic_lands > button {
	float: right ;
}
#basic_lands td {
	text-align: center ;
	padding-left: 2px ;
	padding-right: 2px ;
}
#basic_lands .card img {
	margin-top: -5px !important ;
}
/* Zoom */
#zoom {
	position: absolute;
	transition-property: transform ; /* Transition makes mouse hovers zoom and 'leave' main_div
	and add a laggy effect, use it only for rotate */
	z-index: 11 ; /* Required for second image */
}
#zoom.split {
	transform: rotate(90deg) translate(-52px, -52px) ;
}
#zoom .aftermath {
	position: relative;
	left: -145px ;
	transform: scale(1.29, 1.29) rotate(-90deg) ;
	z-index: -1;
}
.smallres #zoom .aftermath {
	transform: scale(1.29, 1.29) rotate(-90deg) ;
	left: -117px ;
}
#zoom.split.displaytop { /* When displayed on top of mouse */
	transform: rotate(90deg) translate(52px, -52px) ;
}
#zoom .flip {
	transform: rotate(180deg) ;
}
/* Small image resolution*/
.smallres .card {
	width: 188px ;
	height: 20px ;
}
.smallres .card img, .smallres #zoom img {
	width: 203px ;
}
.smallres .card img {
	margin-left: -7px ;
	margin-top: -9px ;
}
.smallres div.split img {
	height: 196px ;
	width: auto ;
	margin-left: 25px ;
	margin-top: -32px ;
}
.smallres #selectors {
	right: 130px ;
}
