body {
	overflow-x: hidden ;
}
table {
	border-collapse:collapse;
}
td {
	padding: 0 ;
}
td.th {
	text-align: center ;
	font-weight: bold ;
}
#build_div {
	height: 94% ;
	width: 96% ;
	z-index: -1 ;
	position: absolute ;
	padding: 0 ;
}
canvas {
	margin: 0 ;
	padding: 0 ;
	float: left ;
}
#bottom {
	clear: left ;
}
#resume {
	float: left ;
	padding: 3px ;
}
#lands {
	float: left ;
}
#lands div {
	float: left ;
	cursor: pointer ;
	width: 235px ;
	background-position: center -5px ; /* show only card name in their frame */
	background-repeat: no-repeat ;
	background-size: 255px auto ;
	text-align: right ;
	padding-right: 10px ;
	height: 25px ;
}
#pool td, #deck td {
	vertical-align: top ; /* Otherwise, each columns is vertically centered in table */
}
#pool div, #deck div, #land div {
	cursor: pointer ;
	width: 235px ;
	height: 25px ;
	border: 2px solid lime ; /* Stupid default color, to see errors. should be replaced by class just under*/
	background-position: center -11px ; /* show only card name + cost in their frame */
	background-repeat: no-repeat ;
	background-size: 250px auto ;
}
#land div {
	text-align: right ;
	padding-right: 10px ;
	padding-top: 2px ;
	background-position: center -4px ; /* Black Border */
	background-size: 255px auto ; /* UNH */
}
.emptycol {
	width: 235px ;
	border-color: transparent !important ;
	font-style:italic ;
}
/* Small resolutions hack */
div.sr {
	width: 165px !important ;
	background-size: 180px auto !important ;
	background-position: center -8px !important ;
	height: 16px !important ;
}
#land div.sr {
	background-position: center -2px !important ;
}
.emptycol.sr {
	width: 165px !important ;
}
/* / Small resolutions hack */
div.L {
	border-color: sienna !important ;
}
div.C {
	border-color: black !important ;
}
div.U {
	border-color: lightgray !important ;
}
div.R {
	border-color: GoldenRod !important ;
}
div.M {
	border-color: OrangeRed !important ;
}
div.S {
	border-color: purple !important ;
}
#filter-color {
	position: fixed ;
	top: 0 ;
	left: 200px ;
	padding: 5px ;
}
#filter-rarity {
	position: fixed ;
	top: 0 ;
	left: 500px ;
	padding: 5px ;
}
.manacheck {
	display: inline-block ;
	background-color: white ;
	border: 2px outset darkgray ;
}
.checked {
	background-color: lightgray ;
	border-style: inset ;
}
.manacheck input {
	display: none ;
}
#zoom {
	display: none ;
}
#zoom.disp {
	display: inline !important ;
	position: fixed ;
}
#transformed {
	display: none ;
}
#transformed.disp {
	display: inline !important ;
	position: fixed ;
}
/* Stats */
#stats {
	position: absolute ;
	width: 250px ;
	top: 5% ;
	height: 90% ;
	left: -230px ;
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
}
#stats:hover {
	-moz-transform: translate(230px) ;
	-moz-transition: all 0.1s ease-in ;
	-webkit-transform: translate(230px) ;
	-webkit-transition: all 0.1s ease-in ;
}
/* Log */
#tournament {
	position: absolute ;
	width: 250px ;
	top: 5% ;
	height: 90% ;
	right: -230px ;
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
}
#tournament:hover {
	-moz-transform: translate(-230px) ;
	-moz-transition: all 0.1s ease-in; 
	-webkit-transform: translate(-230px) ;
	-webkit-transition: all 0.1s ease-in; 
}
#tournament ul {
	padding-left: 0 ;
}
#tournament li {
	list-style-type: none ;
}
#tournament form {
	position: absolute ;
	bottom: 0 ;
}
#tournament.highlight {
	border-color: red ;
	border-width: 5px ;
}
