/*
 +---------+             +------+ +-------+
 | Search  | +---------+ | Deck | | Infos |
 | form    | | Buttons | |      | | zoom  |
 | results | +---------+ |      | | stats |
 +---------+             +------+ +-------+
*/
/* Onload animation */
body.hideh1 h1.hideable {
	transition: all 2s ;
	height: 0 ;
	margin: 0 ;
	border-width: 0 ;
	box-shadow: 0 0 0 0 transparent ;
	font-size: 0 ;
}
td {
	height: 20px ;
	overflow: hidden ;
	white-space:nowrap;
}
#decksection h1 {
	transition-delay: 2s ;
}
#infos h1 {
	transition-delay: 4s ;
}
#stats h1 {
	transition-delay: 6s ;
}
/* Common */
#search, #builder_buttons, #decksection, #infos, #stats, #log {
	float: left;
	margin: 20px ;
	margin-right: 0 ;
	padding: 5px ;
	overflow: hidden ;
}
#search, #decksection {
	height: 90% ;
}
/* Search */
#search {
	width: 250px ;
}
#builder_buttons {
	padding: 20px ;
}
/* Deck*/
#decksection {
	/*width: 350px ;*/
}
/* Infos */
#infos {}
/* Stats*/
#stats {
	width: 200px ;
}

/* Inside Search */
#advanced_search {
	width: 16px;
	height: 16px;
	background: url(../deckbuilder/layer_novisible.png) top left no-repeat ;
	display: inline-block ;
	cursor: help ;
}
#advanced_search.checked {
	background: url(../deckbuilder/layer_visible.png) top left no-repeat ;
}
#search button {
	padding: 0 ;
}
/* Inside Buttons */
#builder_buttons button, #search input[type=submit] {
	cursor: pointer ;
}

#builder_buttons>ul {
	list-style-type: none;
	padding: 0;
}
/* Inside Deck */
#sideboard {
	background-color: #8e7560 ;
}
/* Inside Infos */
#zoom {
	cursor:	zoom-in ;
}
/* Misc */
.section table {
	width: 98% ;
	margin: 1% ;
}
.section td {
	cursor: pointer ; /* All table lines seems clickable*/
}
option {
	cursor: help ;
}
.hidden {
	display: none ;
}
tr:hover {
	background-color: Tan ;
}

/* Buttons */
.buttonlist {
	text-align: right ;
	white-space: nowrap ;
}
td.buttonlist, td.nopadding {
	padding: 0 ;
	width: 1px ; /* Always minimal possible width */
}
.nopadding select {
	height: 20px ;
}
.buttonlist span {
	padding: 0 ;
	margin: 0 ;
	clear: both ;
}
.buttonlist img {
	vertical-align:bottom ;
	height: 20px ;
	padding: 0 ;
	margin: 0 ;
}
.buttonlist img:hover {
	background-color: black ;
}
.comment {
	background-color: #907c6c ;
	font-style: italic ;
	white-space : pre ;
}
.selected {
	box-shadow: 0px 0px 10px 1px red;
}
#log {
	width: 500px ;
	height: 500px ;
}
