/* Common */
#search, #decksection, #infos {
	top: 70px ;
}
#search, #decksection, #zoombox, #stats {
	padding: 5px ;
}
#search, #decksection {
	position: absolute ;
}
#builder_buttons, #infos {
	position: fixed ;
}
/* Search */
#search {
	width: 250px ;
	left: 20px ;
}
/* Buttons */
#builder_buttons {
	top: 90px ;
	left: 302px ;
	padding: 20px ;
}
/* Deck*/
#decksection {
	left: 420px ;
	width: 350px ;
}
/* Infos */
#infos {
	top: 70px ;
	left: 800px ;
}
#zoombox, #stats, #log {
	float: left ;
	margin-right: 20px ;
	margin-bottom: 20px ;
}
#stats {
	left: 1000px ;
	width: 200px ;
}
#log {
	width: 500px ;
	height: 500px ;
}

/* Inside Search */
#advanced_search {
	width: 16px;
	height: 16px;
	background: url(../deckbuilder/layer_novisible.png) top left no-repeat ;
	display: inline-block ;
	cursor: help ;
}
#advanced_search.checked {
	background: url(../deckbuilder/layer_visible.png) top left no-repeat ;
}
#search button {
	padding: 0 ;
}
/* Inside Buttons */
#builder_buttons button, #search input[type=submit] {
	cursor: pointer ;
}
#builder_buttons>ul {
	list-style-type: none;
	padding: 0;
}
/* Inside Deck */
#sideboard {
	background-color: #8e7560 ;
}
/* Inside Infos */
#zoom {
	cursor:	zoom-in ;
}
/* Misc */
.section table {
	width: 98% ;
	margin: 1% ;
	white-space:nowrap;
}
.section td {
	cursor: pointer ; /* All table lines seems clickable*/
}
option {
	cursor: help ;
}
tr:hover {
	background-color: Tan ;
}

/* Buttons */
.buttonlist {
	text-align: right ;
	white-space: nowrap ;
}
td.buttonlist, td.nopadding {
	padding: 0 ;
	width: 1px ; /* Always minimal possible width */
}
.nopadding select {
	height: 20px ;
}
.buttonlist span {
	padding: 0 ;
	margin: 0 ;
	clear: both ;
}
.buttonlist img {
	vertical-align:bottom ;
	height: 20px ;
	padding: 0 ;
	margin: 0 ;
}
.buttonlist img:hover {
	background-color: black ;
}
.comment {
	background-color: #907c6c ;
	font-style: italic ;
	white-space : pre ;
}
.selected {
	box-shadow: 0px 0px 10px 1px red;
}
.hidden {
	display: none ;
}

