/*
 +---------+             +------+ +-------+
 | Search  | +---------+ | Deck | | Infos |
 | form    | | Buttons | |      | | zoom  |
 | results | +---------+ |      | | stats |
 +---------+             +------+ +-------+
*/
/* Common */
#search, #decksection, #infos {
	top: 30px ;
	width: 300px ;
	height: 90% ;
	margin: 20px ;
	overflow: auto ;
}
#decksection {
	width: 350px ;
}
.section table {
	width: 98% ;
	margin: 1% ;
}
.section tr {
	cursor: pointer ; /* All table lines seems clickable*/
}
option {
	cursor: help ;
}
.hidden {
	display: none ;
}
tr:hover {
	background-color: Tan ;
}
/* Search */
#search {
	position: absolute ;
	left: 0 ;
}
#advanced_search {
	width: 16px;
	height: 16px;
	background: url(../deckbuilder/layer_novisible.png) top left no-repeat ;
	display: inline-block ;
}
#advanced_search.checked {
	background: url(../deckbuilder/layer_visible.png) top left no-repeat ;
}
#search button {
	padding: 0 ;
}
/* Buttons */
.buttonlist {
	text-align: right ;
	white-space: nowrap ;
}
td.buttonlist, td.nopadding {
	padding: 0 ;
	width: 1px ; /* Always minimal possible width */
}
.nopadding select {
	height: 20px ;
}
.buttonlist span {
	padding: 0 ;
	margin: 0 ;
	clear: both ;
}
.buttonlist img {
	vertical-align:bottom ;
	height: 20px ;
	padding: 0 ;
	margin: 0 ;
}
.buttonlist img:hover {
	background-color: black ;
}
#builder_buttons {
	position: fixed ;
	left: 330px ;
	top: 100px ;
	width: 50px ;
	padding: 20px ;
}
/* Deck*/
#decksection {
	position: absolute ;
	left: 410px ;
}
.comment {
	background-color: #907c6c ;
	font-style: italic ;
	white-space : pre ;
}
.selected {
	box-shadow: 0px 0px 10px 1px red;
}
#sideboard {
	background-color: #8e7560 ;
}
/* Infos */
#infos {
	position: absolute ;
	left: 770px ;
}
#zoom {
	width: 250px ;
	margin-left: 25px ;
}
#stats_leftcol, #stats_rightcol {
	padding: 0 ;
	position: absolute ;
	bottom: 0 ;
	width: 145px ;
}
#stats_rightcol {
	left: 150px ;
}
#log {
	position: absolute ;
	left: 1100px ;
	top: 30px ;
	width: 500px ;
	height: 500px ;
}
