/* Tournament info : draft table representation under drafting cards */
#tournament_info {
	margin: 0 auto ; /* Center */
}
#tournament_info caption {
	white-space: nowrap ;
}
#tournament_info tbody, #tournament_info td {
	border-width: 0 !important ;
}
#tournament_info td.player { /* Player TD with avatar */
	text-align: center ;
	height: 30px ;
}
#tournament_info {
	background: darkgreen url('../THS_BackgroundTexture_01.jpg') repeat left top ;
	background-size: contain ;
}
#tournament_info td {
	color: white ;
}
td.self {
	background-color: transparent ; /* Overwrite other classes */
	font-weight: bold;
}
/* Cards */
.card {
	border: 3px solid black ; /* Add a border to color on pick */
}
/* Drafting cards*/
#booster_cards {
	line-height: 0 ; /* No space between "lines" of cards */
}
.pick.card { border-color: lime ; }
.side.card { border-color: blue ; }
.drafting.card {
	cursor: pointer ; /* Clickable */
}
/* Drafted cards */
#drafted_cards, #sided_cards {
	min-height: 100px ; /* Default space for drag'n'drop when empty */
	line-height: 0 ; /* No space between "lines" of cards */
}
.drafted.card, .sided.card {
	cursor: move ; /* Drag'n'drop*/
}
/* DND */
.drag {
	opacity: .5 ;
}
