table {
	margin: 0 ;
	margin-left: 5% ;
	width: 90% ;
}
ol {
	padding-left: 25px ;
}
/* "clickable" labels */
label	{
	display: block ;
	margin-left: 5px ;
}
td label {
	margin: 0 ;
}
td.nowrap {
	margin: 0 ;
	white-space: nowrap;
}
/* Shoutbox */
#shoutbox {
	margin-top: 25px ;
	margin-bottom: 0;
}
#shout_body { /* Resizable part */
	position: relative ;
	height: 200px ;
	min-height: 100px ;
	max-height: 500px ;
	resize: vertical;
	overflow: hidden ; /* Needed for resize */
	transition: none 0s ;
}
#shout_body > * {
	position: absolute; 
	list-style-type: none ;
}
#shouts {
	left: 0 ;
	top: 0 ;
	height: 100% ;
	width: 85% ;
	padding: 0 ;
	overflow-x: hidden ;
	overflow-y: scroll ;
}
#shouts span {
	float: right ;
	color: #907C6C ;
}
#shouts li:hover {
	background-color: #F4ECD2 ;
}
#shouts li:hover span {
	color: black ;
}
#shouters {
	right: 0 ;
	top: 0 ;
	height: 90% ;
	width: 15% ;
	padding-left: 0 ;
	overflow: hidden ;
}
#shouters li {
	cursor: pointer ;
}
#shouters li:hover {
	background-color: #F4ECD2 ;
}
#shoutbox input[type=submit] {
	box-sizing: border-box ;
	width: 10% ;
}
#shoutbox input[type=text] {
	box-sizing: border-box ;
	width: 90% ;
}
#shout_info {
	height: 20px ;
	width: 12% ;
	right: 3% ;
	bottom: 0 ;
}
/* Index is divided in 2 columns */
#left_col, #right_col {
	float: left ;
	/* | 2% |   47%   | 2% |   47%   | 2% | = 100% */
	width: 47% ;
	margin-left: 2% ;
	margin-bottom: 2% ;
}
/* Each divided in sections */
#stats, #profile, #duels, #tournaments, #decks, #teamspeak {
	width: 100% ;
	margin-top: 25px ;
	padding-bottom: 10px ;
}
#footer, #browser {
	margin: 2% ;
	padding:1% ;
	font-size:x-small;
}
#footer {
	clear: both ;
	text-align: center ;
}
#browser {
	background-image: url(http://www.mozilla.com/img/home/download-logo.png) ;
	background-repeat: no-repeat ;
	padding-left: 110px ;
	height: 100px ;
}
#game_create, #tournament_create {
	margin-left: 15px ;
}
#tournament_create .create {
	margin-top: 15px ;
}
/* Table lines enhancement */
#pending_games tr, #pending_tournaments tr {
	cursor: pointer ;
}
td a img {
	vertical-align: middle ;
}
td a, td label {
	display: block ;
	text-decoration: none ;
	color: black ;
}
ol {
	margin: 0 ;
}
/* Other deck table styling */
#pending_tournaments tr:hover, #running_tournaments tr:hover,
#pending_games tr:hover, #running_games tr:hover,
#decks_table tbody tr:hover {
	background-color: #F4ECD2 ;
}
tr:hover td a {
	color: darkred ;
}
/* Full height link in cells https://stackoverflow.com/questions/3966027/make-link-in-table-cell-fill-the-entire-row-height */
#running_tournaments td {
	height: 100%;
	padding: 0px;
	overflow: hidden ;
}
#running_tournaments a {
	margin: -50em;
	padding: 50em;
	display: block ;
}

#decks_table input[type=text] {
	width: 100% ;
	box-sizing: border-box;
}
#decks_table .first_col {
	width: 0 ;
	border-right-color: transparent ;
}
#decks_table .last_col {
	width: 100px ;
}
table button {
	padding: 0 ;
}
/* Tournaments */
.registered {
	background-color: #F4ECD2 ;
}
/* Forms */
#tournament_options {
	padding: 2px ;
}
#tournament_options #tournament_options_toggle {
	display: inline ;
}
#tournament_options.shrinked legend {
	display: block ;
}
#tournament_options.shrinked * {
	display: none ;
}
.score {
	text-align: center ;
}
/* As those are HTMLOption, chromium doesn't apply font properties (nor "content") */
.inactive {
	color: #8E7560 ;
}
.typing {
	color: #F4ECD2 ;
}
.typing::after {
	content:"…" ;
}
/* Deck list */
.deck td {
	border-width: 0 0 1px 0 ;
}
.leftalign {
	text-align: left ;
}
.rightalign {
	text-align: right ;
}
