table {
	margin: 0 ;
	margin-left: 5% ;
	width: 90% ;
}
ol {
	padding-left: 25px ;
}
/* "clickable" labels */
label	{
	display: block ;
	margin-left: 5px ;
}
td label {
	margin: 0 ;
}
td.nowrap {
	margin: 0 ;
	white-space: nowrap;
}
/* Shoutbox */
#shoutbox {
	/*margin-left: 2% ;
	margin-right: 2% ;*/
	margin-top: 25px ;
	margin-bottom: 0;
}
#shouts {
	list-style-type: none ;
	padding: 0 ;
	height: 100px ;
	overflow-y: scroll ;
	resize: vertical;
	min-height: 50px ;
	max-height: 200px ;
}
/* Index is divided in 2 columns */
#left_col, #right_col {
	float: left ;
	/* | 2% |   47%   | 2% |   47%   | 2% | = 100% */
	width: 47% ;
	margin-left: 2% ;
	margin-bottom: 2% ;
}
/* Each divided in sections */
#stats, #profile, #duels, #tournaments, #decks {
	width: 100% ;
	margin-top: 25px ;
	padding-bottom: 10px ;
}
#footer, #browser {
	margin: 2% ;
	padding:1% ;
	font-size:x-small;
}
#footer {
	clear: both ;
	text-align: center ;
}
#browser {
	background-image: url(http://www.mozilla.com/img/home/download-logo.png) ;
	background-repeat: no-repeat ;
	padding-left: 110px ;
	height: 100px ;
}
#game_create, #tournament_create {
	margin-left: 15px ;
}
#tournament_create .create {
	margin-top: 15px ;
}
/* Table lines enhancement */
td a, td label {
	display: block ;
	text-decoration: none ;
	color: black ;
}
ol {
	margin: 0 ;
}
/* Other deck table styling */
#decks_table tbody tr:hover, #past_tournaments tr:hover, #running_tournaments tr:hover, #pending_tournaments tr:hover {
	background-color: #F4ECD2 ;
}
#decks_table input[type=text] {
	width: 99% ;
}
#decks_table .first_col {
	width: 0 ;
	border-right-color: transparent ;
}
#decks_table .last_col {
	width: 100px ;
}
table button {
	padding: 0 ;
}
/* Tournaments */
.registered {
	background-color: #F4ECD2 ;
}
/* Forms */
#tournament_options {
	padding: 2px ;
}
#tournament_options #tournament_options_toggle {
	display: inline ;
}
#tournament_options.shrinked legend {
	display: block ;
}
#tournament_options.shrinked * {
	display: none ;
}
.score {
	text-align: center ;
}
/* Deck list */
.deck td {
	border-width: 0 0 1px 0 ;
}
.leftalign {
	text-align: left ;
}
.rightalign {
	text-align: right ;
}
