/* ========== Menu ========== */
/* Menu frame */
.menu {
	z-index: 1000 ;
	position: absolute ;
	margin: 0 ;
	padding: 0 ;
	border-spacing: 0 ;
	border-collapse: separate ;
	cursor: default ; /* Avoid text cursor on menu entries */
	background-color: white ;
	border: 1px solid #AAAAAA ;
}
/* Menu line */
.menu td {
	white-space: nowrap ;
	font-size: 0.75em ;
	font-family: Verdana, Geneva, sans-serif ;
	margin: 0 ;
	padding: 0 ;
	border: 1px solid white ; /* Will be colorized hover */
}
/* Menu line not separator */
.menu .text {
	padding-right: 15px ; /* Equilibrate with space reserved for checkbox; also usefull for submenu icon */
}
/* Checkbox */
.menu input {
	margin: 1px 2px 1px 0 ; /* Top & bot 1px for lisibility, right 2px not to stick to text */
	vertical-align: bottom ; /* The only way i found to align checkbox and text */
}
/* Separator */
.menu hr {
	margin: 0 ;
	background-color: lightgray ; color: lightgray ; /* Both for maximal compatibility */
	opacity: .40 ; /* Impossible to get it lighter without opacity */
}
/* Behaviour */
.menu .active:hover	{
	background-color: #90B2DE ;
	border-color: #4B6E99 ;
	color: white ;
}
.menu .inactive	{
	color: darkgray ;
}
/* Submenu */
.menu .submenu {
	background-image: url('../iconSubMenu.png') ;
	background-position: right center ;
	background-repeat: no-repeat ;
}
