/* Generic */
.errored {
	/*border: 2px solid red ;*/
	box-shadow: 0 0 5px 3px red ;
}
/* Hider */
.hider {
	position: fixed ;
	left: 0 ;
	top: 0 ;
	width: 100% ;
	height: 100% ;
	/*background-color: black ;*/
	background-color: rgba(0, 0, 0, 0.65) ;
	z-index: 10 ;
}
.hider > * {
	position:absolute ;
	left: 50% ;
	top: 50% ;
}
/* AJAJ */
.updating {
	background-color: rgba(255, 127, 127, 0.5) !important ;
	border-color: rgba(255, 127, 127, 0.75) ;
}
.updated {
	background-color: rgba(127, 255, 127, 0.5) !important ;
	border-color: rgba(127, 255, 127, 0.75) ;
}
/* Options window */
#options { /* Container */
	padding-right: 100px ; /* For tabs */
}
#options h1 {
	margin-right: -90px ;
}
/* Tabs*/
#options_tabs {
	padding-left: 0 ;
	width: 100px ;
	position: absolute ;
	right: 0 ;
	top: 50% ; /* Centered in options window, itself centered in screen : fixed position */
}
#options_tabs li {
	list-style-type: none ;
	text-align: right ;
}
#options_tabs li:not(.selected):hover {
	cursor: pointer ;
	background-color: rgba(0, 0, 0, 0.2) ;
}
#options_tabs li.selected {
	cursor: default ;
	background-color: rgba(0, 0, 0, 0.2) ;
	font-weight: bold ;
}
/* Close button */
#options_close {
	position: absolute ;
	right: 10px ;
	bottom: 10px ;
}
/* Content */
#options fieldset {
	margin: 5px 10px 0 10px ;
	padding: 0 ;
	padding-right: 5px ;
	padding-bottom: 2px ;
}
#options label {
	padding: 0 ;
	padding-left: 5px ;
	margin-left: 5px ; /* Like style.css's one, for play.php */
	border: 1px solid transparent ;
	display: block ;
}
#options label:hover {
	background-color: rgba(0, 0, 0, 0.2) ;
	border-color: rgba(0, 0, 0, 0.1) ;
	border-radius: 2px;
}
/* Identity */
#avatar_demo {
	max-width: 100px ;
	max-height: 100px ;
}
