div.section {
	width: 96% ;
	margin-left: 2% ;
	margin-bottom: 2% ;
	margin-top: 25px ;
}
td a {
	display: block ;
	text-decoration: none ;
}
#past_games tr:hover, #past_tournaments tr:hover {
	background-color: #F4ECD2 ;
}
#evaluations img {
	height: 20px ;
}
#evaluations td {
	text-align: center ;
}
.win {
	color: darkgreen ;
}
.draw {
	color: darkblue ;
}
.lose {
	color: darkred ;
}
.noop {
	font-style: italic ;
}
