/***********************************************************
 * CSS main file for all website's pages, except play page *
 ***********************************************************/

/**************************
 * General considerations *
 * ************************/
/*tr, li, option*/
* {
	transition: all 0.2s ;
	transition-timing-function: ease ;
}
input, button, .noanim, .menu {
	transition: none 0s ;
}
body {
	background-color: #1f1a14;
	margin: 0 ;
	font-family:verdana;
	font-size:small;
}
/* Colapsed tables, with emphased table-headers */
table {
	border-collapse: collapse ;/* Bugs in FF with colspan */
}
thead, th, tfoot {
	background-color: #8e7560 ;
	font-weight: bold ;
}
thead, th {
	text-align: center ;
}
table, th, td {
	border: 1px solid #000000 ;
}
h1 {
	background-image:url('../images/h1.png');
	background-repeat: repeat-x;
	margin: 10px;
	color:#1f1a14;
	font-variant: small-caps;
	font-family: "courier new", verdana, arial;
	border: 1px solid #1f1a14 ;
	box-shadow: 0 0 3px 1px #1f1a14;
	text-align: center ;
	height:30px;
}
h2{
	background-color: #907c6c ;
	margin-bottom: 20px ; 
	margin-top: 20px ;
	padding-left: 10px ;
	font-family:"courier new", arial;
}
h3, h4, h5, h6 {
	padding-left: 10px ;
	margin-top: 5px ;
	margin-bottom: 1px ;
}
p > input, p > button {
	margin-left: 5px ;
}
label	{
	cursor: pointer ;
}
ul {
	margin: 0px ;
	padding-left: 30px ;
}
a {
	color: black ;
}
a:visited {
	color: #353535 ;
}
a:hover {
	color: darkred ;
}
/* Mogg specific generic classes */
header {
	background:url('../images/header_bar.png') repeat-x center;
	border-width: 0 0 1px !important ;
	height: 50px ;
	line-height: 50px ;
	padding: 0 17px ;
	font-size:12px;
	margin:-1px 0 0 -1px;
}
header img { /* Facebook icon, avatar, connexion indicator*/
	vertical-align: middle ;
}
header a {
	text-decoration:none;
	color: #ece7dd !important ;
}
header a:hover {
	color : #e4dc90 !important ;
}
header a:active {
	color : #1F1A14 !important ;
}
#mainpage img {
	height: 48px ;
	vertical-align: middle ;
}
#identity_shower {
	float: right ;
	cursor: pointer ;
}
#identity_shower img#avatar {
	vertical-align: middle ;
	height: 30px ;
}
.section { /* Colorized background */
	background-color: #b89f8b ;
	border: 1px solid #d5c2b3 ;
	box-shadow: 0 0 5px 3px #000000;
}
img.avatar {
	vertical-align: middle ;
	max-height: 30px ;
	max-width: 30px ;
}
/***************************
 * General purpose classes *
 ***************************/
.fullwidth {
	width: 100% ;
}
.nowrap {
	white-space: nowrap ;
}
.overscroll {
	overflow: auto ;
}
.hidden {
	display: none ;
}
.yes, .yes * {
	background-color: lightgreen !important ;
}
.no, .no * {
	background-color: lightpink !important ;
}
.little, .little * {
	background-color: lightyellow !important ;
}
.duno, .duno * {
	background-color: lightgray !important ;
}

