/***********************************************************
 * CSS main file for all website's pages, except play page *
 ***********************************************************/

/**************************
 * General considerations *
 * ************************/
body {
	background-color: #1f1a14;
	margin: 0 ;
	font-family:verdana;
	font-size:small;
}
/* Colapsed tables, with emphased table-headers */
table {
	border-collapse: collapse ;/* Bugs in FF with colspan */
}
thead, th {
	background-color: #8e7560 ;
	text-align: center ;
	font-weight: bold ;
}
table, th, td {
	border: 1px solid #000000 ;
}
h1 {
	background-image:url('../images/h1.png');
	background-repeat: repeat-x;
	margin: 10px;
	color:#1f1a14;
	font-variant: small-caps;
	font-family: "courier new", verdana, arial;
	border: 1px solid #1f1a14 ;
	box-shadow: 0 0 3px 1px #1f1a14;
	text-align: center ;
}
h2{
	background-color: #907c6c ;
	margin-bottom: 20px ; 
	margin-top: 20px ;
	padding-left: 10px ;
	font-family:"courier new", arial;
}
h3, h4, h5, h6 {
	padding-left: 10px ;
	margin-top: 5px ;
}
p > input, p > button {
	margin-left: 5px ;
}
ul {
	margin: 0px ;
	padding-left: 30px ;
}
a {
	color: black ;
}
a:visited {
	color: darkred ;
}
a:hover {
	color: dimgrey ;
}
/*
 *
 **/
#header{
	margin:-1px 0 0 -1px;
	padding: 17px ;
	/*padding: 1%;*/
	/*font-size:x-small;*/
	font-size:12px;
	background:url('../images/header_bar.png') repeat-x center;
	max-height: 50px ;
	border-width: 0 0 1px ;
}
#header img { /* Facebook icon */
	margin-top: -4px ;
	margin-bottom: -4px ;
}
#header a, #header span {
	text-decoration:none;
	color: #ece7dd;
}
#header a:hover {
	color : #e4dc90 ;
}
#header a:active {
	color : #1F1A14 ;
}
#identity_shower {
	float: right ;
	cursor: pointer ;
}
#identity_shower img {
	vertical-align: middle ;
	height: 30px ;
}
/***************************
 * General purpose classes *
 ***************************/
.fullwidth {
	width: 100% ;
}
.nowrap {
	white-space: nowrap ;
}
.section { /* Colorized background */
	background-color: #b89f8b ;
	border: 1px solid #d5c2b3 ;
	box-shadow: 0 0 5px 3px #000000;
}
.overscroll {
	overflow: auto ;
}
.hidden {
	display: none ;
}
/*

*/
#tail td {
	background-color: #EADAA2 ;
}
.yes, .yes * {
	background-color: lightgreen !important ;
}
.no, .no * {
	background-color: lightpink !important ;
}
.little, .little * {
	background-color: lightyellow !important ;
}
.duno, .duno * {
	background-color: lightgray !important ;
}
