/* Unselectability for tabs and table header */
#tabs span, thead td {
	-webkit-user-select: none; /* Chrome, Safari */
	-moz-user-select: none;  /* Firefox */
	/*-ms-user-select: none;   /* IE 10+ */
	/*user-select: none;      /* Unused ? */
}
/* Global content */
#top {
	width: 96% ;
	margin-left: 2% ;
	margin-bottom: 2% ;
	margin-top: 25px ;
	text-align: center ;
}
/* Tabs */
#tabs {
	margin-top: 15px ;
	margin-bottom: 15px ;
}
#tabs span {
	font-size: 18px ;
	background-color: #907c6c ;
	cursor: pointer ;
	padding: 5px ;
	margin: 5px ;
}
#tabs span.selected {
	background-color: #F4ECD2 ;
}
/* Players list */
#top table {
	border: 0px solid black ;
	caption-side: bottom;
	display: inline-block ; /* Required for centering under chrome */
}
/* Player list header */
.sortable {
	cursor: pointer ;
	text-decoration: underline ;
	padding-left: 10px ;
	padding-right: 10px ;
}
.sorted {
	background: url(../sort/asc.png) top right no-repeat ;
	padding-right: 20px ;
}
.desc .sorted {
	background: url(../sort/desc.png) top right no-repeat ;
}
/* Player lines */
img.avatar {
	height: 30px ;
}
.self, tbody tr:hover {
	background-color: #F4ECD2 ;
}


