h2 {
	margin-bottom: 2px ;
	margin-top: 5px ;
}
.central {
	margin: 2% ;
}
.self {
	background-color: #F4ECD2 ;
}
/* Draft + Build */
#info {
	position: fixed ;
	top: 1% ;
	right: 260px ;
	padding: 5px ;
	z-index: 1 ;
}
#back {
	position: fixed ;
	top: 1% ;
	left: 260px ;
	padding-right: 5px ;
}
/* Log & Stats common + animation */
#stats, #tournament {
	position: fixed ;
	width: 250px ;
	top: 3% ;
	height: 94% ;
	z-index: 15 ;
}
/* Stats */
#stats {
	left: -230px ;
}
#stats:hover, #stats.highlight { /* It's hidden, let's show it */
	left: -1px ;
}
/* Log */
#tournament {
	right: -230px ;
}
#tournament:hover, #tournament.highlight { /* It's hidden, let's show it */
	right: -1px ;
}
#tournament ul {
	padding-left: 0 ;
}
#tournament li {
	list-style-type: none ;
}
#tournament form {
	position: absolute ;
	bottom: 0 ;
	/*width: 100% ;*/
}
#tournament form input {
	width: 240px ;
}
#tournament_log {
	overflow-y: auto ;
	padding: 0;
	margin: 0;
	list-style-type: none ;
	font-style: italic ;
}
#tournament_log li.chat {
	font-style: normal ;
}
#tournament_log li:hover {
	background-color: #F4ECD2 ;
}
