.column {
	width: 48% ;
	padding: 1% ;
	float: left ;
}
#tournament_log .linetime {
	display: inline ;
	float: right ;
	font-style: normal ;
	color: #907C6C ;
}
#tournament_log li:hover .linetime { /* Change linetime color on li hover */
	color: black ;
}
