table {
	margin: 1% ;
	margin-top: 0 ;
}
/* Tournament index */
.self {
	background-color: #F4ECD2 ;
}
.group {
	margin: 2% ;
}
#toplink {
	font-size: larger ;
}
pre {
	overflow: hidden ;
	height: 50px ;
	margin: 0 ;
}
pre.maximized {
	overflow: visible ;
	height: auto ;
}
.column {
	/*border: 1px solid red ;*/
	width: 48% ;
	padding: 1% ;
	float: left ;
}
/* Draft + Build*/
#info {
	position: fixed ;
	top: 0 ;
	right: 0 ;
	padding: 5px ;
	margin: 10px ;
}
#back {
	position: fixed ;
	bottom: 0 ;
	right: 0 ;
	padding: 5px ;
	margin: 10px ;
}
/* Log & Stats common + animation */
#stats, #tournament {
	position: fixed ;
	width: 250px ;
	top: 5% ;
	height: 90% ;
	transition: all 0.2s ;
	-moz-transition: all 0.2s ;
	-webkit-transition: all 0.2s ;
	-o-transition: all 0.2s ;
	-ms-transition: all 0.2s ;
	transition-timing-function: ease-in-out ;
	-moz-transition-timing-function: ease-in-out ;
	-webkit-transition-timing-function: ease-in-out ;
	-o-transition-timing-function: ease-in-out ;
	-ms-transition-timing-function: ease-in-out ;
}
/* Stats */
#stats {
	left: -230px ;
}
#stats:hover { /* It's hidden, let's show it */
	left: -1px ;
}
/* Log */
#tournament {
	right: -230px ;
}
#tournament:hover { /* It's hidden, let's show it */
	right: -1px ;
}
#tournament ul {
	padding-left: 0 ;
}
#tournament li {
	list-style-type: none ;
}
#tournament form {
	position: absolute ;
	bottom: 0 ;
}
#tournament.highlight {
	border-color: red ;
	border-width: 5px ;
}
#log_ul {
	overflow-y: auto ;
	height: 70% ;
}
