h1, h2, h3, h4, h5 {
	background-color: #F4ECD2 ;
}
ul, td {
	background-color: #EADAA2 ;
}

.rarityN	{
	color: darkred ;
}
.rarity	{
	color: red ;
}
.rarityL	{
	color: navy
}
.rarityC	{
	color: black ;
}
.rarityU	{
	color: gray ;
}
.rarityR	{
	color: GoldenRod ;
}
.rarityM	{
	color: OrangeRed ;
}
.yes	{
	color: green ;
}
.no	{
	color: red ;
}
